*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  height: 100vh;
  background-image: url(./shared/cloud.jpg);
  background-size: cover;
}

.inner-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  background-color: #caf0f8b5;
  border-radius: 20px;
  min-width: 600px;
  max-width: 600px;
  margin: auto;
 justify-content: center;
}

.inner-container input {
  margin: auto;
  width: 70%;
  margin: auto;
  padding: 0.2rem 0;
  text-align: center;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
}

.inner-container input:focus{
  outline: none;
}

.current-weather-container{
  display: flex;
  flex-direction: column;
  background-color: #0077b6;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 20px;
  color: white;
  gap: 0.2rem;
}
.location-name{
  font-size: 1.5rem;
  margin-top: 1rem;
  text-transform: uppercase;
  color: white;
}

.current-weather {
  font-size: 2.5rem;
  
}












































.forecast-container{
  display: flex;
  flex-direction: column;
  background-color: #0077b6;
  border-radius: 20px;
  width: 100%;
  color: white;
  margin-top: 2rem;
}

.forecast-title{
  text-align: center;
  padding: 1rem 0;

}

.forecast-day{
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
 
}

.forecast-day:not(:last-child){
  border-bottom: 2px solid rgba(225, 222, 222, 0.509);
}

.forecast-icon {
  width: 50px;
}

