*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  background-image: url(./shared/cloud.jpg);
  background-size: cover;
  height: 800px;
}

.inner-container {
  padding: 2rem;
  align-items: center;
  background-color: #14213d;
  border-radius: 20px;
  width: 100%;
  max-width: 500px;
  margin: auto;
  justify-content: center;
  position: relative;
  height: 100%;
  overflow: hidden;
}



.inner-container input {
  margin: auto;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  border: none;
  background-color: #fff;
  border-radius: 3px;
}

.inner-container input:focus{
  outline: none;
}

.current-weather-container{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 20px;
  color: white;
  text-align: center;
  width: 100%;
}
.location-name{
  font-size: 12px;
  text-transform: uppercase;
  color: white;
}

.current-weather {
  font-size: 100px;
}

.temp-circle{
  font-size: 50px;
  vertical-align: top;
}

.container{
  display: flex;
  flex-direction: column;
}

.current-weather-condition{
 font-size: 1.2rem;
}


.forecast-container{
  background-color: transparent;
  width: 100%;
  color: white;
  margin-top: 2rem;
  position: absolute;
  bottom: 0;
  height: 200px;
  left: 0;
}

.forecast-inner-container {
  width: 100%;
  height: 200px;
  /* background-color: rgba(255, 255, 255, 0.468); */
  background-color: #14213d46;
  z-index: 20;
  position: relative;
  display: flex;
  gap: 2rem;
  position: relative;
}




.forecast-title{
  text-align: center;
  padding: 1rem 0;

}

.forecast-day{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.forecast-temps{
  display: flex;
  gap: 0.5rem;
  text-align: center;
}


.forecast-icon {
  width: 60px;
}


.night {
  background-image: url(/src/shared/night.png);
  background-size: cover;
  
}

.day {
  background-image: url(/src/shared/day.png);
  background-size: cover;
  
}