@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

.app-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  
  background-color: rgb(98, 98, 158);
  background-size: cover;
  height: 100vh;
}

.inner-container {
  padding: 2rem;
  align-items: center;
  background-color: #14213d;
  border-radius: 20px;
  width: 100%;
  max-width: 500px;
  margin: auto;
  justify-content: center;
  position: relative;
  height: 100%;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}



.inner-container input {
  margin: auto;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  border: none;
  background-color: #fff;
  border-radius: 3px;
}

.inner-container input:focus{
  outline: none;
}

.current-weather-container{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 20px;
  color: white;
  text-align: center;
  width: 100%;
}
.location-name{
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
}

.current-weather {
  font-size: 125px;
  font-weight: 700;
  text-align: center;
}

.temp-circle{
  font-size: 50px;
  vertical-align: top;
}

.container{
  display: flex;
  flex-direction: column;
}

.current-weather-condition{
 font-size: 1.2rem;
}


.forecast-container{
  background-color: transparent;
  width: 100%;
  color: white;
  margin-top: 2rem;
  position: absolute;
  bottom: 0;
  height: 150px;
  left: 0;
}

.forecast-inner-container {
  width: 100%;
  height: 150px;
  /* background-color: rgba(255, 255, 255, 0.468); */
  background-color: #14213d46;
  z-index: 20;
  position: relative;
  display: flex;
  gap: 2rem;
  padding: 1rem;
  overflow-x: auto;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.forecast-inner-container::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}





.forecast-title{
  text-align: center;
  padding: 1rem 0;

}

.forecast-day{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 700;

}

.forecast-temps{
  display: flex;
  gap: 0.5rem;
  text-align: center;
}


.forecast-icon {
  width: 60px;
}

.loading{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  color: white;
  width: 100%;
  text-align: center;
}


.night {
  background-image: url(/src/shared/night.png);
  background-size: cover;
  
}

.day {
  background-image: url(/src/shared/day.png);
  background-size: cover;
}

.app-container-day{
  background: #F2994A;
  background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);
  background: linear-gradient(to right, #F2C94C, #F2994A); 
}

.app-container-night{
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
}